<header class="header-registro">
  <nav>
      <a href='@Url.Action("LandingPage","Home")'><img src="../images/logoJuego.webp" class="img-header-inicio"></a>
  </nav>
</header>   


<main class="main-start">
    <div class="container main-div">
        <h1>Configure su partida!</h1>
        <form action='@Url.Action("Comenzar","Home")' method= "post">
        <p class="texto-ingreso">Dificultad:</p>
        <select required name="dificultad">
          <option value="">Seleccioná Dificultad</option>
        @foreach( Dificultades opcion in ViewBag.Dificultades){
            <option value="@opcion.IdDificultad">@opcion.Nombre</option>
        }
        <option value="-1">Todas</option>
        </select>
        <p class="texto-ingreso"></p><input type="submit" value="Ingresar"name="contra" class="input-submit-ingreso">
            <input type="hidden" name="categoria" value="-1" />
        </form>
        
    </div>
</main>