<header class="header-registro">
  <nav>
      <a href='@Url.Action("Juego","Home")'><img src="../images/logoJuego.webp" class="img-header-inicio"></a>
  </nav>
</header>   


<main class="main-start">
    <div class="container main-div">
        <h1>Configure su partida!</h1>
        <form action='@Url.Action("ValidarInicio","Home")'>
        <p class="texto-ingreso">Nombre de usuario:</p><input type="text"  required name="nombreUsuario" class="input-ingreso">
        <p class="texto-ingreso">Foto de Perfil (URL):</p><input type="text" required name="foto" class="input-ingreso">
        <p class="texto-ingreso"></p><input type="submit" value="Ingresar"name="contra" class="input-submit-ingreso">
        </form>
    </div>
</main>