<div class="main-indexx">
        <section>
            <div class="containerr">
                <h1>Créditos</h1>
                <p class="texto-ingreso">Proyecto desarrollado por:</p>
                <ul class="slogan-index">
                    <li>Ian Jolodovsky</li>
                    <li>Abril Varela Sica</li>
                    <li>Iván Kovadloff</li>
                </ul>
                <p class="texto-ingreso">Gracias por jugar a Cerebrizate</p>
                <a href='@Url.Action("Index", "Home")' class="play-button2">Volver al inicio</a>
            </div>
        </section>
    </div>