<h1>@ViewBag.NombreUsuario</h1>
<h1>Puntaje Conseguido en la partida: @ViewBag.Puntaje</h1>
<a href='@Url.Action("LandingPage", "Home")'>Volver
    <input type="hidden" name="nombreUsuario" value=@ViewBag.NombreUsuario>
</a>