<div class="resultado-contenedor">
    <div class="resultado-titulo">
        <h1 class="nombre-usuario">Nombre: @ViewBag.NombreUsuario</h1>
        <h2 class="puntaje-partida">Puntaje conseguido en la partida: @ViewBag.Puntaje</h2>
    </div>
    <div class="resultado-form">
        <form action='@Url.Action("LandingPage", "Home")'>
            <input type="hidden" name="nombreUsuario" value="@ViewBag.NombreUsuario">
            <input type="submit" class="btn-volver" value="Volver">
        </form>
    </div>
</div>
