<div class="body-index">
  <div class="header-index">
      <div class="nav-container">
        <ul>
          <li><a href='@Url.Action("Creditos","Home")'>Créditos</a></li>
          <li><a href='@Url.Action("RankingGlobal","Home")'>Ranking</a></li>
        </ul>
      </div>
  </div>


  <div class="main-start">
    <section>
      <div class="container-index main-div">
        <img src="images/logoJuego.webp" class="img-logo-index">
        <h1 class="texto-index">¡Bienvenido a Cerebrizate!</h1>
        <p class="slogan-index">El juego donde tu mente es el mejor aliado</p>
        <div class="BotonesIndex">
          <a href='@Url.Action("InicioSesion","Home")'>
            <button class="play-button" onclick="playGame()">Ingresar</button>
          </a>
        </div>
      </div>
    </section>
  </div>
<script src="script.js"></script>
</div>