<header class="header-index">
  <nav>
    <ul>
      <li><a href='@Url.Action("Index","Home")'><img src="../images/logoJuego.webp" class="img-header-inicio"></a></li>
    </ul>
  </nav>
</header>   


<main class="main-start">
    <div class="container main-div">
        <h1>Iniciar Sesion</h1>
        <form action='@Url.Action("ValidarInicio","Home")'>
        <p>Nombre de usuario:</p><input type="text"  name="usuario">
        <p>Contraseña:</p><input type="text" name="contra">
        </form>
    </div>
</main>