<header class="header-ruleta">
    <h2 class="nombre-usuario">@ViewBag.DatosUsuario.nombre</h2>
    <h2 class="puntaje-usuario">Puntaje: @ViewBag.DatosUsuario.puntaje</h2>
</header>

<div class="container-ruleta">
    <h1 class="titulo-ruleta">¡Toca para Jugar!</h1>
    <div class="wheel-container">
        <div id="wheel" class="wheel" method="post" action='@Url.Action("MomentoPreg","Home")'>
            <div class="option" style="--i: 0;" value="1">GEOGRAFÍA</div>
            <div class="option" style="--i: 1;" value="4">DEPORTE</div>
            <div class="option" style="--i: 2;" value="3">CIENCIA</div>
            <div class="option" style="--i: 3;" value="2">HISTORIA</div>
        </div>
        <div class="arrow"></div>
    </div>
    <button id="spinButton" class="boton-girar">Girar</button>
    <div id="confetti-container"></div>
    <div id="result" class="hidden"></div>
</div>
