<header>

</header>
    <div class="container-ruleta">
        <h1>Toca para Jugar</h1>
        <div class="wheel-container">
            <div id="wheel" class="wheel" method="post" action='@Url.Action("MomentoPreg","Home")'>
                <div class="option" style="--i: 0;" value="1">GEOGRAFIA</div>
                <div class="option" style="--i: 1;" value= "4">DEPORTE</div>
                <div class="option" style="--i: 2;" value="3">CIENCIA</div>
                <div class="option" style="--i: 3;" value="2">HISTORIA</div>
            </div>
            <div class="arrow"></div>
        </div>
        <button id="spinButton">Girar</button>
        <div id="confetti-container"></div>
        <div id="result" class="hidden"></div>
    </div>

