@{
    if( ViewBag.DatosUsuario.puntaje == null){
        ViewBag.DatosUsuario.puntaje = 0;
    }
    if(ViewBag.DatosUsuario.racha == null){
        ViewBag.DatosUsuario.racha = 0;
    }
}

<header class="header-landing">
    <div class="header-content">
        <div class="divs-img-landing">
            <img src="/images/star-solid.svg" class="img-header-landing">
            <p class="punto-landing">@ViewBag.DatosUsuario.puntaje</p>
        </div>
        <div class="perfil-header-landing">
            <img src="@ViewBag.DatosUsuario.foto" class="img-usu-landing">
            <p class="nombre-usuarioo">@ViewBag.DatosUsuario.nombre</p>
        </div>
    </div>
</header>
  <div class="main-start">
    <section>
      <div class="container-index main-div">
        <img src="/images/luchacerebros.jpg" class="img-logo-index">
        <h1 class="texto-index">¡A Jugar!</h1>
        <p class="slogan-index">¿Estás listo/a para demostrar tus conocimientos?</p>
        <div class="BotonesIndex">
          <a href='@Url.Action("ConfigurarJuego","Home")'>
            <button class="play-button" onclick="playGame()">Jugar</button>
          </a>
        </div>
      </div>
    </section>
  </div>
<script src="script.js"></script>
</div>