<h1>@ViewBag.Pregunta.Enunciado</h1>
@{
    int contador = 0;
}
@foreach (Respuestas res in ViewBag.Respuestas)
{
    <form action='@Url.Action("VerificarRespuesta", "Home")' method="post">
        <button name="idRespuesta" value=@res.IdRespuesta>@res.Contenido</button>
        <input type="hidden" name="idPregunta" value=@ViewBag.Pregunta.IdPregunta />
        <input type="hidden" name="idCategoria" value=@ViewBag.CategoRuleta />
    </form>
    contador++;
}

