
<section class= "back-respuestas">
@if (ViewBag.FueCorrecta == true)
{
    <div class="resultado-correcto">
        <h1>¡Respuesta Correcta!</h1>
        <a href='@Url.Action("Jugar","Home")' class="boton-siguiente">Siguiente Pregunta</a>
        <p>Tu puntaje actual es: @ViewBag.Puntaje</p>
    </div>
}
else
{
    <div class="resultado-incorrecto">
        <h1>Respuesta Incorrecta</h1>
        <h2>La respuesta correcta era: @ViewBag.RespuestaCorrecta.Contenido</h2>
        <a href='@Url.Action("Fin","Home")' class="boton-terminar">Terminar Partida</a>
    </div>
}
</section>
