@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* .main-creditos{
  background-image: url(/images/fotocreditos.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100vw;
} */
body {
  height:100vh;
  overflow:hidden;
}
.main-index{
  display:flex;
  justify-content: center;
}

.main-index section{
  width: 60%;
  height: auto;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-index section img{
  width: 10%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  border-radius: 50%;
}

.main-index section button{
  align-self: center;
  width: 2%;
  height: 8%;
  color: blue;
  background-color: aliceblue;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: cadetblue;
  width:35%;
  height: fit-content;
  border-radius:10px;
}

.container-index{
  text-align: center;
}
.input-submit-ingreso{
  width:17%;
  height: 17%;
  background-color: rgb(73, 77, 77);
  color:white;
  border-radius: 6px;
  font-size: 110%;
  font-family: "Poppins", sans-serif;
  padding:1.3%;
  margin-bottom: 7%;

}
h1 {
  margin-top:10%;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  color: #333;
  margin-bottom:2%;
}


.play-button {
  font-family: "Poppins", sans-serif;
  padding: 20px 50px;
  font-size: 1.5em;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
  position: relative;
  overflow: hidden;
  animation: bounce 1s infinite;
  margin: 10px; 
}

.play-button:hover {
  background-color: #1daef1;
  box-shadow: 0 0 20px rgba(0, 195, 255, 0.7), 0 0 40px rgb(15, 237, 253), 0 0 60px rgb(255, 255, 255);
}

/* Efecto de salto */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Efecto animado */
.play-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
  border-radius: 50%;
  z-index: 0;
}

.play-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.play-button:focus {
  outline: none;
}

.BotonesIndex {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  margin-top: 30px; 
}


.main-start{
  background-color: rgb(125, 201, 204);
  display: flex;
  justify-content: center;
  padding: 3%;
  height: calc(100vh - 54px);

}

.main-start section{
  width: 50%;
  height: auto;
}

.main-start section .main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-start section .img-logo-index{
  width:auto;
  max-width: 80%;
  max-height: 450px;
  border-radius: 50%;
}
.main-start section{
  height: auto;
  background-color: cadetblue;
  border-radius: 10px;
  padding-top:2%;
  padding-bottom: 2%;
}
.texto-index{
  margin-top:2%;
}
.slogan-index{
  font-family: "Raleway", sans-serif;
  font-size: 130%;
  padding-bottom:3%;
}

.body-index{
  padding-top:15px;
  background-color: rgb(125, 201, 204);
}
.header-registro{
  display: flex;
  justify-content: center;
  background-color: rgb(125, 201, 204);
}

.header-registro nav a{
  display: flex;
  justify-content: center;
}
.header-registro nav a img{
width: 15%;
margin-top: 5%;
margin-bottom:2%;
}

.texto-ingreso {
  font-family: "Poppins", sans-serif;
  margin-top:4%;
  font-size: 120%;
  color:rgb(41, 41, 41)
}
.input-ingreso{
  width:50%;
  height: 3.5vh;
  border-radius: 5px;
}
.header-index {
  display:flex;
  justify-content: center;
  margin-left:42.5%;
  width: 15%;
  height: 6vh;
  background-color: cadetblue;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
}


.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-index div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-index  div ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;  
  margin: 0 15px; 

}


.header-index  ul li a {
  padding: 10px 20px; 
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: transparent; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.header-index  ul li a:hover {
  background-color: rgb(80, 123, 124);
  color: #fff;
}



.BotonesIndex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-header-inicio{
  display: flex;
  justify-content: flex-start;
  border-radius:50%;
  width:10%;
}

/*Header landing*/
.iconos-land img{
  width: 7vh;
  padding:0.5%;
}

.body-landing{
  background-color: cadetblue;
  display: flex;
  width:100%;
  justify-content: space-between;
}

.iconos-land{
  display: flex;
  flex-direction: row;
  height:10vh;
  align-items: center;
  justify-content: center;
}

/*LANDING-PAGE*/
.punto-landing{
  margin:auto;
  display: flex;
  align-items: center;
}
.img-usu-landing{
  border-radius:50%;
  width:10vh;
  padding: 0.5%;
}

/*Landing page*/

.header-index-1 {
  display:flex;
  justify-content: center;
  margin-left:27%;
  width: 15%;
  height: 6vh;
  background-color: cadetblue;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
}




.nav-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:11%;
  display: flex;
  align-items: center;
  margin-left:1650%;
}

.header-index-1 div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-index-1  div ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;  
  margin: 0 15px; 

}


.header-index-1  ul li a {
  padding: 10px 20px; 
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: transparent; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.header-index-1  ul li a:hover {
  background-color: rgb(80, 123, 124);
  color: #fff;
}


h1 {
  margin-bottom: 20px;
}

.container-ruleta {
  background-color: rgb(125, 201, 204);
  text-align: center;
}

.wheel-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto 20px auto;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #333;
  position: relative;
  overflow: hidden;
  transform: rotate(calc(var(--rotate, 0) * 1deg));
  transition: transform 5s ease-out;
}

.option {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  transform: rotate(calc(var(--i) * 90deg)) translate(-100%, -100%);
}

.option:nth-child(even) {
  background-color: #2980b9;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #333;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
      transform: translateY(100vh) rotate(360deg);
  }
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}


.img-header-landing{
  width:20%;
}
.header-landing{
  background-color: rgb(125, 201, 204);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.centrar{
  display: flex;
  align-items: center;
}
.divs-img-landing{
  display: flex;
  flex-direction: row;
}
.perfil-header-landing{
  display: flex;
  flex-direction: row;
}
.resultado-correcto, .resultado-incorrecto {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.resultado-correcto {
  background-color: #d4edda;
  color: #155724;
  border: 2px solid #c3e6cb;
}

.resultado-incorrecto {
  background-color: #f8d7da;
  color: #721c24;
  border: 2px solid #f5c6cb;
}

.respuesta-correcta {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.boton-siguiente, .boton-terminar {
  display: inline-block;
  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.boton-siguiente:hover, .boton-terminar:hover {
  background-color: #0056b3;
}
.titulo-pregunta {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.contenedor-respuestas {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self:center ;
  gap: 1rem;
}

.form-respuesta {
  display: contents;
  width: 100%;
}

.boton-respuesta {
 
  display: block;
  width: 50%;
  padding: 15px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.boton-respuesta:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.boton-respuesta:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
.header-ruleta {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: cadetblue;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.nombre-usuario, .puntaje-usuario {
  color:white;
  font-size: 1.5rem;
  margin: 0;
}

.container-ruleta {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.titulo-ruleta {
  font-size: 2rem;
  color: #333;
  margin-bottom: 60px;
}

.wheel-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #333;
  position: relative;
  overflow: hidden;
  transform: rotate(calc(var(--rotate, 0) * 1deg));
  transition: transform 5s ease-out;
}

.option {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
  transform: rotate(calc(var(--i) * 90deg)) translate(-100%, -100%);
}

.option:nth-child(even) {
  background-color: #2980b9;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #333;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.boton-girar {
  margin-bottom:50%;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.boton-girar:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.boton-girar:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.hidden {
  display: none;
}

.main-indexx {
  background-color: rgb(125, 201, 204);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-indexx section {
  width: 50%;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerr {
  text-align: center;
  background-color: cadetblue;
  width: 80%;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  color: #333;
}

.slogan-index {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  color: #fff;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.texto-ingreso {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #333;
}

.play-button2 {
  font-family: "Poppins", sans-serif;
  margin-top:5%;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 14s ease;
  text-decoration: none;
  width:50%;
  align-self: center;

}
.play-button3 {
  font-family: "Poppins", sans-serif;
  margin-top:5%;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 14s ease;
  text-decoration: none;
  width:50%;
  align-self: center;

}

.play-button2:hover {
  background-color: #0056b3;
}

.header-landing {
  background-color: rgb(125, 201, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px; /* Limitar ancho */
  margin-bottom: 20px; /* Espaciado inferior */
}

.divs-img-landing,
.perfil-header-landing {
  display: flex;
  align-items: center;
}

.img-header-landing,
.img-usu-landing {
  width: 50px; /* Tamaño de la estrella y la foto de perfil */
  height: 50px;
  margin-right: 10px; /* Espaciado entre imagen y texto */
}

.punto-landing {
  font-size: 1.5rem;
  color: #333;
}

.nombre-usuarioo {
  font-size: 1.5rem;
  color: #000000;
}
.container-general-ruleta{
  background-color: rgb(125, 201, 204);

}
.div-ranking-final{
  padding-bottom:50%;
  background-color: rgb(125, 201, 204);
}
.txt-nro-preg{
  margin-left:45%;
}
.ayuda-momentopreg{
  margin-bottom:50%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.2em;
  min-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table thead tr {
  background-color: cadetblue;
  color: white;
  text-align: left;
  font-weight: bold;
}

.user-table th, .user-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.user-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.user-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.user-table tbody tr:last-of-type {
  border-bottom: 2px
}

.titulo-rank{
  display: flex;
  justify-content: center;
}

.user-table{
  width: 60%;
  margin-left:20%;
  margin-bottom:3%;
}
/* Contenedor principal */
.resultado-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(125, 201, 204);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
.resultado-titulo {
  text-align: center;
  margin-bottom: 20px;
}

.nombre-usuarioo {
  font-size: 2.5rem;
  color: #000000; /* Color similar a "Cadet Blue" */
  margin: 0;
}

.puntaje-partida {
  font-size: 1.8rem;
  color: #005f73; /* Azul oscuro */
  margin: 10px 0;
}

/* Botón de volver */
.resultado-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-volver {
  background-color:cadetblue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.btn-volver:hover {
  background-color: #468d98; /* Color más oscuro al hover */
}

/**/
/* Sección principal */
.back-respuestas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: rgb(125, 201, 204);
  padding: 20px;
}

/* Estilo para resultados correctos */
.resultado-correcto {
  text-align: center;
  color: #006400; /* Verde oscuro para respuestas correctas */
}

.titulo-correcto {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.puntaje-actual {
  font-size: 1.5rem;
  margin-top: 15px;
}

/* Estilo para resultados incorrectos */
.resultado-incorrecto {
  text-align: center;
  color: #a60000; /* Rojo oscuro para respuestas incorrectas */
}

.titulo-incorrecto {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.respuesta-correcta-titulo {
  font-size: 1.8rem;
  margin-top: 10px;
}

